@page
@model Generify.Web.Pages.Authentication.AuthNeededModel
@{
    ViewData["Title"] = "Authentication needed";
}

<div>
    <h1>@ViewData["Title"]</h1>

    <p>
        Authentication to Spotify services is needed!
    </p>

    <p>
        For Generify to work it needs to access your Spotify data.<br />
        To authenticate to the Spotify services, press the <i>Authenticate</i> button below.<br />
        You will be redirected to Spotify to let them know, that you trust us.<br />
        I am just a random website on the internet, sure you can trust me.
    </p>

    <div class="form-container">
        <form method="post">
            <input type="submit" value="Authenticate" />
        </form>
    </div>
</div>