@page
@model Generify.Web.Pages.Authentication.AuthNeededModel
@{
    ViewData["Title"] = "Authentication needed";
}

<div>
    <h1>@ViewData["Title"]</h1>

    <p>Authentication to Spotify services is needed!</p>

    <p>
        To authenticate to the Spotify services, visit this <a href="@Model.ExternalAuthLink">link</a>.
    </p>
</div>