@page
@model Generify.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">
    <p>
        This website uses Spotify's public API to automatically generate Spotify Playlists.
    </p>
    <p>
        But keep in mind: It's still <b>work in progress!</b><br />
        First of all some <i>(or many)</i> features won't work as intended and trying them out might shred your playlists to pieces.<br />
        Second of all your saved data might be deleted without warning.<br />
        I try to only publish features that I have tested ... but ... no promises.
    </p>
    <p>
        The project is open source and can be found on <a target="_blank" href="https://github.com/Nilsio63/Generify">GitHub</a>.
    </p>
    <p>
        Thanks and sorry to all my Spotify playlists which are going to be complementely annihilated in at least one of my tests during the development of this website!
    </p>
</div>
