@page
@model Generify.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    @if (Model.GenerifyUser != null)
    {
        <h1 class="display-4">Welcome to Generify, @Model.GenerifyUser.UserNameDisplay</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to Generify</h1>
    }
    <p>The website to automatically generate your next Spotify playlist <i>(or at least try to)</i></p>

    <p>Because this is a <b>WORK IN PROGRESS</b> website, there are some things left to do:</p>

    <ol class="text-center">
        <li>Host website on Azure App Service &#9989;</li>
        <li>Write <i>Home</i> and <i>About</i> pages &#9989;</li>
        <li>Create page for user registration &#9989;</li>
        <li>Authentication via user login &#9989;</li>
        <li>Hook up user account with Spotify API &#9989;</li>
        <li>Overview of created playlist generators &#128260;</li>
        <li>Functionality to create simple playlist generator &#128260;</li>
        <li>Ability to edit and delete playlist generators &#128260;</li>
        <li>More options for playlist generators &#128260;</li>
        <li>Create user management page &#128260;</li>
        <li>Better styling <i>(honestly I have no idea of HTML and CSS)</i> &#128260;</li>
        <li>Dark mode! &#127763;&#128260;</li>
        <li>Way more very cool stuff &#128260;</li>
    </ol>

    <p>Check out the <a target="_blank" href="https://github.com/Nilsio63/Generify">GitHub repository</a>!</p>
</div>