@page
@model Generify.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">
    <p>This is where the login page would be ... if we had any!</p>
</div>