@page
@model Generify.Web.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">
    <p>
        You successfully logged out of Generify!
    </p>

    <p>
        This makes us really sad ... You know that, right? &#128546;
    </p>
</div>