@page
@model Generify.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Sign up";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">
    <p>
        Enter a unique <i>(and cool)</i> user name and password to sign up to Generify!
    </p>

    <div class="form-container">
        <form method="post">
            <label for="userName">Username:</label>
            <input id="userName" type="text" asp-for="UserName" /><br />

            <label for="password">Password:</label>
            <input id="password" type="password" asp-for="Password" /><br />

            <label for="passwordRepeat">Repeat Password:</label>
            <input id="passwordRepeat" type="password" asp-for="PasswordRepeat" /><br />

            <input type="submit" value="Register" />
        </form>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <br /><span style="color:red">@Request.Query["errorMessage"]</span>
    }
</div>