@page "/playlists"
@attribute [Authorize]
@inject NavigationManager _navManager
@inject IUserAuthService _userAuthService
@inject IPlaylistDefinitionService _playlistDefService
@inject IPlaylistOverviewService _playlistOverviewService

<h1>My Playlists</h1>

<LoadingComponent IsLoading="PlaylistDefinitions is null">
    @foreach (PlaylistOverview playlist in PlaylistDefinitions)
    {
        <p>
            <b>@playlist.Name</b><br />
            <i>@playlist.Description</i>
        </p>

        <LoadingComponent IsLoading="playlist.IsGenerating" LoadingText="Generating your playlist...">
            <input type="submit" @onclick="() => ExecuteAsync(playlist)" value="Generate" />

            <input type="button" value="Edit" @onclick="() => EditPlaylistAsync(playlist.Definition)" />

            <input type="button" value="Delete" @onclick="() => DeletePlaylistAsync(playlist)" />

            @if (!string.IsNullOrWhiteSpace(playlist.ErrorMessage))
            {
                <br /><span class="text-danger">@playlist.ErrorMessage</span>
            }
        </LoadingComponent>
    }

    <div class="align-bottom">
        <a href="/playlists/create">
            <input type="button" value="Create new" />
        </a>
    </div>
</LoadingComponent>

@code {
    public List<PlaylistOverview> PlaylistDefinitions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User user = await _userAuthService.GetCurrentUserAsync();

        PlaylistDefinitions = await _playlistOverviewService.GetAllByUserIdAsync(user.Id);
    }

    public async Task ExecuteAsync(PlaylistOverview playlist)
    {
        playlist.IsGenerating = true;
        playlist.ErrorMessage = null;

        try
        {
            await _playlistDefService.ExecuteGenerationAsync(playlist.Definition.Id);
        }
        catch (Exception ex)
        {
            playlist.ErrorMessage = ex.Message;
        }
        finally
        {
            playlist.IsGenerating = false;
        }
    }

    public async Task EditPlaylistAsync(PlaylistDefinition playlist)
    {
        await _playlistDefService.LoadDetailsAsync(playlist);

        _navManager.NavigateTo($"/playlists/edit/{playlist.Id}");
    }

    public async Task DeletePlaylistAsync(PlaylistOverview playlist)
    {
        await _playlistDefService.DeleteAsync(playlist.Definition);

        PlaylistDefinitions.Remove(playlist);
    }
}
