@page "/playlists"
@attribute [Authorize]
@inject IUserAuthService _userAuthService
@inject IPlaylistOverviewService _playlistOverviewService

<h1>My Playlists</h1>

<LoadingComponent IsLoading="_isLoading">
    @foreach (PlaylistOverview playlist in PlaylistDefinitions ?? [])
    {
        <PlaylistDisplayComponent Playlist="@playlist" />
    }

    <div class="align-bottom">
        <a href="/playlists/create">
            <input type="button" value="Create new" />
        </a>
    </div>
</LoadingComponent>

@code {
    private bool _isLoading = false;
    public List<PlaylistOverview> PlaylistDefinitions { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        User? user = await _userAuthService.GetCurrentUserAsync();

        if (user is not null)
        {
            PlaylistDefinitions = await _playlistOverviewService.GetAllByUserIdAsync(user.Id.ToString());
        }

        _isLoading = false;
    }
}
