@page "/authNeeded"
@inject IUserAuthService _userAuthService
@inject IExternalAuthService _externalAuthService
@inject NavigationManager _navManager

<h1>Authentication needed</h1>

<div class="text-left">
    <p>
        Authentication to Spotify services is needed!
    </p>

    <AuthorizeView>
        <Authorized>
            <p>
                For Generify to work it needs to access your Spotify data.<br />
                To authenticate to the Spotify services, press the <i>Authenticate</i> button below.<br />
                You will be redirected to Spotify to let them know, that you trust us.<br />
                I am just a random website on the internet, sure you can trust me.
            </p>

            <div class="form-container">
                <input type="submit" value="Authenticate" @onclick="RedirectToExternalAsync" />
            </div>
        </Authorized>
        <NotAuthorized>
            <p>
                ... but you need to be logged in for this! Why aren't you logged in?<br />
                Do that now! Here is the <a href="/login">login page</a>.
            </p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    public async Task RedirectToExternalAsync()
    {
        User user = await _userAuthService.GetCurrentUserAsync();

        if (user == null)
        {
            return;
        }

        string externalAuthLink = _externalAuthService.GetExternalLoginUrl(user.Id);

        _navManager.NavigateTo(externalAuthLink);
    }
}
