@page "/login"
@inject IExternalAuthService _externalAuthService
@inject NavigationManager _navManager

<h1>Login</h1>

<div class="text-left">
    <AuthorizeView>
        <Authorized>
            <p>
                You are already logged in!<br />
                What are you doing here?
            </p>
        </Authorized>
        <NotAuthorized>
            <p>
                Please login with Spotify using the <i>Login with Spotify</i> button below.<br />
                You will be redirected to Spotify to let them know, that you trust us.<br />
                I am just a random website on the internet, sure you can trust me.
            </p>

            <div class="form-container">
                <input type="submit" value="Login with Spotify" @onclick="RedirectToExternal" />
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    public void RedirectToExternal()
    {
        string externalAuthLink = _externalAuthService.GetExternalLoginUrl();

        _navManager.NavigateTo(externalAuthLink);
    }
}
