@page "/about"

<PageTitle>About</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">About</MudText>

<MudText Typo="Typo.body1" Class="mb-8">
    This website uses Spotify's public API to automatically generate Spotify Playlists.<br /><br />
    
    But keep in mind: It's still <b>work in progress!</b><br />
    First of all some <i>(or many)</i> features won't work as intended and trying them out might shred your playlists to pieces.<br />
    Second of all your saved data might be deleted without warning.<br />
    I try to only publish features that I have tested ... but ... no promises.<br /><br />

    The project is open source and can be found on <a href="https://github.com/Nilsio63/Generify">GitHub</a>.<br /><br />

    Thanks and sorry to all my Spotify playlists which are going to be complementely annihilated in at least one of my tests during the development of this website!
</MudText>

@code {

}
